<%- include('partials/header') %>
<main role="main" class="container">
    <h1>Créer un nouvel article</h1>
    <form action="/create" method="POST">
        <!-- Autres champs ici -->
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>
        <label for="codeArticle">Code Article:</label>
        <input type="text" id="codeArticle" name="codeArticle" required><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br><br>
        <label for="image">URL de l'image:</label>
        <input type="text" id="image" name="image" required><br><br>
        <label for="prix">Prix:</label>
        <input type="number" step="0.01" id="prix" name="prix" required><br><br>
        <label for="quantite">Quantité:</label>
        <input type="number" id="quantite" name="quantite" required><br><br>
        
        <!-- Champ pour la catégorie -->
        <label for="categorie">Catégorie:</label>
        <input type="text" id="categorie" name="categorie" required list="categories">
        <datalist id="categories">
            <option value="Électronique">
            <option value="Livres">
            <option value="Vêtements">
            <!-- Ajouter d'autres options de catégories ici -->
        </datalist>
        <br><br>

        <button type="submit">Créer</button>
    </form>
</main>
<%- include('partials/footer') %>
