body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px; /* Augmenter l'espace pour le header */
    padding-bottom: 130px; /* Corriger l'espace pour le footer */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Reset des styles pour les éléments du menu */
header, nav, ul, li, footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style général du header et du footer */
header, .footer {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur */
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

header {
    top: 0;
}

.footer {
    bottom: 0;
}

nav, .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.2em; /* Taille de police du logo */
    font-weight: bold; /* Gras pour le texte du logo */
}

ul {
    display: flex;
}

ul li {
    margin-left: 20px; /* Espacement entre les éléments du menu */
}

ul li:first-child {
    margin-left: 0; /* Pas de marge à gauche pour le premier élément */
}

ul li a {
    color: #fff; /* Couleur du texte des liens */
    text-decoration: none; /* Pas de soulignement par défaut */
    padding: 10px 15px; /* Espacement intérieur des liens */
    display: inline-block; /* Affichage en bloc pour l'élément a */
    transition: background-color 0.3s; /* Transition sur la couleur de fond */
}

ul li a:hover {
    background-color: #555; /* Couleur de fond au survol */
}

/* Style pour les cartes d'articles */
.card {
    margin: 10px 0;
    border: 1px solid #ddd; /* Bordure unique pour les cartes */
    display: flex;
    flex-direction: column;
    height: 100%;
}

#articles-list {
    display: flex;
    flex-wrap: wrap;
}

#articles-list .col-md-6 {
    margin-bottom: 20px;
}

/* Style pour les détails de l'article */
#article-detail img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* Style pour la navbar */
.custom-navbar {
    background-color: transparent !important; /* Enlever le fond */
    color: #fff; /* Couleur du texte en blanc */
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ddd; /* Couleur du texte au survol */
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-navbar .collapse {
    justify-content: flex-end;
}

/* Style pour le footer */
.custom-footer {
    text-align: center; /* Centrer le texte */
}

.custom-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important; /* Enlever le fond */
    border: none !important;
    box-shadow: none;
}

.custom-footer .text-muted {
    color: #fff !important; /* Couleur du texte en blanc */
}
